body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

}

::selection {
    color: #fff;
    background-color: #000;
}

::-moz-selection {
    color: #fff;
    background-color: #000;
}


.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 84.4%;
}

.header h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.35;
    padding-bottom: 0.8em;
    text-align: center;
    color: #4c3ddf;
}

.box {
    margin-bottom: 18px;
}

.selector {
    width: 100%;
    padding: 0.8em 1em;
    border: 1px solid #999;
    background: #fff;
    font-weight: 400;
    cursor: pointer;
    font-size: 1.1rem;
    color: #999;
    text-align: center;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.btn-result {
    display: block;
    width: 100%;
    background: #4c3ddf;
    color: #fff;
    font-size: 1.1rem;
    padding: 0.8em 0;
    border: 0;
    border-radius: 50px;
}


.result {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    transform: translateX(-100%);
    transition: all 0.5s;
    z-index: 9;
    padding: 0 20px;
}

.result-inner {
    position: relative;
    width: 100%;
}

.result span {
    display: block;
}

.result-mbti {
    font-size: 30px;
    font-weight: 600;
}

.result .title {
    font-size: 20px;
    display: inline-block;
    margin: 1.6em 0 0.8em;
}

.result-desc {
    font-size: 16px;
    line-height: 1.5;
    word-break: keep-all;
}

div.well-type span,
div.bad-type span {
    display: inline-block;
    font-size: 18px;
    padding: 4px 14px;
    margin-right: 0.4em;
    border: 1px solid #000;
    border-radius: 15px;
}

.btn-close {
    position: relative;
    top: 0px;
    left: -4px;
    margin-bottom: 0.8em;
    font-size: 28px;
}

@media screen and (min-width: 769px) {
    .wrapper {
        width: 20%;
        min-width: 500px;
    }

    .result-inner {
        width: 30%;
        margin: 0 auto;
    }
}
 