body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 84.4%;
}

.header h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.35;
    padding-bottom: 0.8em;
    text-align: center;
    color: #4c3ddf;
}

.box {
    margin-bottom: 18px;
}

.selector {
    width: 100%;
    padding: 0.8em 0;
    border: 1px solid #999;
    background: #fff;
    font-weight: 400;
    cursor: pointer;
    font-size: 1.1rem;
    color: #999;
    text-align: center;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.btn-result {
    display: block;
    width: 100%;
    background: #4c3ddf;
    color: #fff;
    font-size: 1.1rem;
    padding: 0.8em 0;
    border: 0;
    border-radius: 50px;
}


.result {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    transform: translateX(-100%);
    transition: all 0.5s;
    z-index: 9;
    padding: 20px 40px 20px 20px;
}

.result span {
    display: block;
}

.result-mbti {
    font-size: 20px;
    margin-bottom: 0.8em;
}

.result-title {
    font-size: 20px;
    margin-bottom: 0.8em;
}

.result-desc {
    font-size: 16px;
    line-height: 1.5;
}


.btn-close {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 28px;
}

@media screen and (min-width: 769px) {
    .wrapper {
        width: 30%;
    }
}
 